@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply bg-[#06202A] text-gray-300;
  }
}

@layer components {
  .linier-background {
    background-image: linear-gradient(to right, rgba(0, 0, 0,9) 150px, rgba(0, 0, 0, 0.5) 100%);
  }
  .back-ground-image {
    height: 60vh;
    width: 100%;
  }
  /* ... */
}

@media (max-width: 700px) {
  .back-ground-image {
    height: 90vh;
  }
  .inner-content{
    padding: 20px;
    overflow: auto;
  }
  .linier-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 09) 150px, rgba(0, 0, 0, 0.5) 100%);
  }
  .inner-info{
   margin-top: 2rem;
  } 
}